
.footer-container{
	height: 250px;
	font-size: 15px;
}

.text-center{
	margin-left: 85px;
	text-align: center;
}

.text-center_2{
	margin-left: 350px;
	text-align: center;
}

.text-center_3{
	margin-left: 400px;
	
}

.title_1{
	font-weight: bolder;
	text-align: center;
	
}
.mylink{
	font-size: 10px;
}