
.footer-container{
	height: 35%;
	font-size: 15px;
}

.text-center{
	margin-left: 5%;
	text-align: center;
}

.text-center_2{
	margin-left: 27%;
	text-align: center;
}

.text-center_3{
	margin-left: 30%;
	
}

.title_1{
	font-weight: bolder;
	text-align: center;
	
}
.mylink{
	font-size: 10px;
}