.thead-dark th{
    width: 8%;
    font-size: 18px;
    background-color: grey;
}

.add-food {
    border-radius:0;
    background-color:  white;
    color:#0e0923;
    
  }

.row wrap{
    padding: 3px 3px 3px 3px;
}