<mat-card *ngFor="let fitem of list; let i = index;" class="add-food">
    <mat-card-header>
      <mat-card-subtitle><h3>{{i+1}}.{{fitem.itemName}}</h3></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>{{fitem.itemType}} : </dt>
        <dt>Price: {{fitem.price}}</dt>
        <dt>Description:{{fitem.description}}</dt>
        <br>
        <dt style="margin-left:70%;">                  
          <a class="mat-icon-button" (click)="onEdit(fitem)"> <mat-icon style="color:#5bc0de;">edit</mat-icon></a>
          <a class="mat-icon-button" (click)="onDelete(fitem.id)"><mat-icon style="color:red;">delete</mat-icon>  </a>
        </dt>
          </dl>
    </mat-card-content>
  
  </mat-card>