
<div fxLayout="row wrap">
<mat-card fxFlex="33.33" *ngFor="let fitem of list|paginate: { itemsPerPage: 12, currentPage: p };" class="add-food">

    <mat-card-content *ngIf="!fitem.isEdit; else elseBlock">
      <dl>
        <dt>{{fitem.itemName}}</dt>
        <dt>{{fitem.itemType}} : </dt>
        <dt>Price: Rs.{{fitem.price}}</dt>
        <dt>Description:</dt>
        <dt>{{fitem.description}}</dt>
        <br>
        <dt style="margin-left:70%;">                  
          <a mat-icon-button (click)="onEdit(fitem)"> <mat-icon style="color:#ff9000;background-color: white;">edit</mat-icon></a>
          <a mat-icon-button (click)="onDelete(fitem.id)"><mat-icon style="color:#ff9000;background-color: white;">delete</mat-icon>  </a>
        </dt>
          </dl>
    </mat-card-content>
    <ng-template #elseBlock>
      <mat-card-content>
        <div class="form-group">
        <dl>
          <dt><input type="text" class="form-control" [(ngModel)]="fitem.itemName" placeholder="{{fitem.itemName}}"></dt>
          <dt><input type="text" class="form-control" [(ngModel)]="fitem.itemType" placeholder="{{fitem.itemType}}"> : </dt>
          <dt>Price: </dt>
          <dt><input type="text" class="form-control" [(ngModel)]="fitem.price" placeholder="{{fitem.price}}"></dt>
          <dt>Description:</dt>
          <dt><input type="text" class="form-control" [(ngModel)]="fitem.description" placeholder="{{fitem.description}}"></dt>
          <br>
          <dt style="margin-left:70%;">                  
            <a mat-icon-button (click)="fitem.isEdit = false"> <mat-icon style="color:#ff9000;background-color: white;">clear</mat-icon></a>
            <a mat-icon-button (click)="onUpdate(fitem)"><mat-icon style="color:#ff9000;background-color: white;">save</mat-icon>  </a>
          </dt>
          </dl>
          </div>
      </mat-card-content>
    </ng-template>
  </mat-card>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
