<!DOCTYPE html>
<html>
  <header class="header-container">
    <div class="logo-container">
      <div fxLayout="column" fxLayoutAlign= "left ">
          <img class="logo" src="/assets/images/logo.png" >
      </div>
</div>
  </header>

<div id="mySidenav" class="sidenav">
   <mat-nav-list style="height:80px">
    <span >
        <mat-icon style="font-size: 80px;margin-left: 32%;color: orange;">account_circle</mat-icon>
    </span>
   </mat-nav-list> 
  <mat-nav-list  >
    <span class="link" mat-list-item >
      <mat-icon>dashboard</mat-icon>
      <span>  Dashboard</span>
  </span>
  </mat-nav-list>
  <mat-nav-list  >
    <span class="link" mat-list-item  routerLink = "/add-menu" >
      <mat-icon>receipt</mat-icon>
      <span>  Food Menu</span>
  </span>
  </mat-nav-list>
  <mat-nav-list  >
      <span class="link" mat-list-item  routerLink = "/add-menu" >
        <mat-icon>receipt</mat-icon>
        <span>  Forum</span>
    </span>
    </mat-nav-list>
    <mat-nav-list  >
        <span class="link" mat-list-item  routerLink = "/add-menu" >
          <mat-icon>receipt</mat-icon>
          <span>  Offers</span>
      </span>
      </mat-nav-list>
      <mat-nav-list  >
          <span class="link" mat-list-item  routerLink = "/add-menu" >
            <mat-icon>receipt</mat-icon>
            <span>  Resources</span>
        </span>
        </mat-nav-list>

  </div>

</html>